<div class="container">
  <div class="bar">
    <span></span>
    <span></span>
    <span></span>
    <h1>Painter</h1>
    <span></span>
    <span></span>
    <div>
      <button mat-button>
        <img src="../assets/save.png" alt="fail">
      </button>
      <button mat-button>
        <img src="../assets/load.png" alt="fail">
      </button>
    </div>
  </div>
  <div class="tools">
    <app-tool-bar></app-tool-bar>
  </div>
  <div class="board">
    <canvas #canvas>
    </canvas>
  </div>
  <div class="footer"></div>
</div>
